@page "/detailemployee/{id}"

<h3>Detail Employee</h3>
<p>Employee Email : @Employee.email</p>
<p>Employee Tanggal Lahir: @Employee.dateOfBirth</p>
<p>Employee Gender: @Employee.Gender</p>
<p>Employee Foto: @Employee.photopath</p>
<p>Employee departmentName: @Employee.departmentName</p>
<p>Employee departmentId: @Employee.depatmentId</p>


